<h1>Make your form here</h1>

<form action="/pirates/show" method="post">
  <label for="pirate">Pirate: </label>
  <input type="text" name="pirate[name]">
  <input type="text" name="pirate[weight]">
  <input type="text" name="pirate[height]">
  
  
  <label for="ship">Ship name: </label>
  <input type="text" name="ship[name]">
  <label for="ship">Ship type: </label>
  <input type="text" name="ship[type]">
  <label for="ship">Ship booty: </label>
  <input type="text" name="ship[booty]">
  
  <label for="ship">Ship name: </label>
  <input type="text" name="ship[name]">
  <label for="ship">Ship type: </label>
  <input type="text" name="ship[type]">
  <label for="ship">Ship booty: </label>
  <input type="text" name="ship[booty]">
  
  <input type="submit" value="Hooray!">
</form>
